input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none
}

input[type="submit"],
button {
    cursor: pointer;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

div, input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none
}

ul,ol {
    list-style-type: none
}
