---
title: Index Page
---
extends layouts/_layout 
block content
	h1 Gulp starter of
		a(href="https://point-agency.net" target="_blank") Point agency
	p icon mixin example
	+icon('icon-facebook') 
	p button mixin example
	+button('Button')  
  
