meta(charset="utf-8")
title #{title}
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")

include _media-tags

//link(href="https://cdn.jsdelivr.net/combine/npm/swiper@4.3.3/dist/css/swiper.min.css,npm/@fancyapps/fancybox@3.3.5/dist/jquery.fancybox.min.css")
link(rel="stylesheet" media="all" href="css/app.css")
