@include font-face('Segoe UI', 'SegoeUILight', 300);
@include font-face('Segoe UI', 'SegoeUIRegular', 400);
@include font-face('Segoe UI', 'SegoeUISemibold', 600);
@include font-face('Segoe UI', 'SegoeUIBold', 700);


body {
	background: #f3f3f3;
	font-family: 'Segoe UI', sans-serif;
	line-height: 1.4;
	font-display: fallback;
	margin: 0;
	padding: 15px 20px;
	-webkit-font-smoothing: antialiased;
}

.main {

	&__steps {
		
	}
}

.head {
	padding-bottom: 25px;
	border-bottom: 1px solid #cccccc;

	&__heading {
		color: #ff6600;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__sub {
		color: #3d3d3d;
		font-size: 14px;
		font-style: italic;
		margin-bottom: 5px;
	}

	&__desc {
		color: #3d3d3d;
		font-size: 13px;
		line-height: 18px;
	}
}

$succ: #0f609f;
$next: #cccccc;
$curr: #ff6600;

.steps {
	display: flex;
	margin: 0;
	padding: 0;
	padding-top: 17px;
	padding-bottom: 23px;

	&__single {
		flex: 0 0 33%;
		

		&.active {
			.steps__heading {
				color: $curr;
			}

			.line {
				background-color: $curr;
				width: 100%;
			}

			.number {
				color: $curr;
				border-color: $curr;
			}

			& ~ .steps__single {

				.steps__heading {
					color: $next;
				}
	
				.line {
					background-color: $next;
					width: 100%;
				}
	
				.number {
					color: $next;
					border-color: $next;
				}

			}
		}

	}

	&__heading {
		color: $succ;
		font-size: 13px;
		margin-bottom: 10px;
		text-align: center;
	}

	&__line {
		background-color: $succ;
		height: 14px;
		position: relative;

		.line {
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 100%;
		}

		.number {
			color: $succ;
			font-size: 13px;
			font-weight: 600;
			line-height: 13px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border: 2px solid $succ;
			background-color: #f3f3f3;
			border-radius: 50%;
			width: 26px;
			height: 26px;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 0;
		}
	}
}


.content {
	&__heading {
		color: #5b5b5b;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 12px;
	}

	&__radio {
		padding: 0;
		margin: 0;
	}

	&__text {
		color: #3d3d3d;
		font-size: 13px;
		font-weight: 600;
		line-height: 16px;
	}

	&__single {
		display: none;
		padding-bottom: 15px;

		&.active {
			display: block;
		}

		&--first {
			
			.content--left {
				flex: 0 0 195px;
			}

			.content--right {
				padding-left: 25px;
			}
		}
	}

	&__row {
		display: flex;
	}
	
}


.footer {
	border-top: 1px solid #cccccc;
	padding-top: 20px;

	&__social {
		display: flex;
		margin: 0;
		padding: 0;
		margin-top: 15px;


		li {
			margin-right: 35px;
		}

		a {
			color: #0f609f;
			font-size: 13px;
			text-decoration: none;
		}
	}

	&__bottom {
		margin-top: 20px;
		border-top: 1px solid #cccccc;
		padding-top: 15px;
		display: none;

		&_text {
			span {
				color: #ff6600;
			}
		}
	}

	&__next {
		margin-left: auto;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__prev {
		display: none;
	}
}